*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #f6f9f9;
}
.header_wrapper{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

padding: 15px 0;

align-items: center;
}
.logo{

width: 20%;
}
.logo img{
  
}
nav{

width: 50%;
}
nav ul{

justify-content: end;

display: flex;
}
nav ul li{margin-left: 50px;list-style: none;}
nav ul li a{
  
text-decoration: none;
  
text-transform: uppercase;
  
font-family: "Lato", sans-serif;
  
font-weight: 700;
  
font-size: 16px;
  
color: #2d3950;
}
.banner{

position: relative;
}
.banner img{
  
width: 100%;
}
.banner_content{

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

text-align: center;
}
.banner_content h1{
  
font-size: 120px;
font-family: "Lato", sans-serif;
  
color: #ffffff;
}
.banner_content span{
  
display: block;
  
width: 100%;
  
height: 2px;
  
background: #15a4fa;
}
.banner_content p{
  
color: #fff;
  
margin: 20px 0 50px;
  
font-size: 20px;
  
font-family: "Lato", sans-serif;
}
.banner_content button{
  
background: transparent;
  
border: none;
  
border: 1px solid #15a4fa;
font-family: "Lato", sans-serif;
  
color: #fff;
  
font-size: 16px;
  
padding: 10px 20px;
  
border-radius: 3px;
  
font-size: 18px;
  
font-weight: 400;
}
.icon{
  
position: absolute;
  
bottom: 100px;
  
left: 50%;
  
transform: translate(-50%, 0);
  
color: #fff;
  
font-size: 20px;
}
.banner_content button:hover{
  background-color: #15a4fa;
  transition: .5s all ease-in-out;
}
.simple_wrapper{
  background-color: #f6f9f9;
}
.simple{
   background-color: #f6f9f9;
   text-align: center;
   width: 70%;
   margin: auto;
   padding: 90px 0;
}
.simple h1{

color: #2d3950;

font-weight: 400;

font-size: 40px;

font-family: "Lato", sans-serif;
}
.simple p{

color: #999999;

font-size: 20px;

font-family: "Lato", sans-serif;

font-weight: 400;

margin-top: 20px;
}
